@model IEnumerable<Puc.ProjetoFinal.SistemaUsuario.Models.FuncionarioModel>

@{
    ViewData["Title"] = "Cadastrar Funcionario";
    Layout = "~/Views/Shared/_Layout.2.cshtml";
}

@section scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script>
        $(function() {
            $('a[id*=btnRemover]').click(function (e) {
                debugger;
                e.preventDefault();
                var href = $(this).attr('href');
                $('#confirmDialog').data('id', href).dialog('open');
            });

            $("#confirmDialog").dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "Ok": function () {
                        var id = $(this).data("id");
                        window.location.href = id;
                    },
                    "Cancel": function (e) {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    <div class="div-right">
        <a asp-action="Incluir" class="btn">Incluir</a>
    </div>

    <div class="well">
        <table class="table dataTable no-footer">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdFuncionario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Matricula)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFuncionario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id=item.IdFuncionario }, new { @id="btnEditar" }) |
                        @Html.ActionLink("Remover", "Remover", new { id=item.IdFuncionario }, new { @id="btnRemover" })
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>

    <div id="confirmDialog" title="Remover Funcionario" hidden>
        <p>Você confirmar a exclusão do Funcionario?</p>
    </div>
